.body-inicio {
  width: 100%;
  height: 100%;
  background-image: url("../img/fondoInicio.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.frase-diaria {
  text-align: center;
  background-color: rgba(47, 19, 108, 0.478);
  border-radius: 15px;
  margin: 10px 10px;
  color: antiquewhite;
  font-weight: 700;
  font-size: 2rem;
  /* line-height: 24px; */
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.contenedor-unMinuto {
  background-color: rgba(47, 19, 108, 0.478);
  border-radius: 15px;
  margin: 0 10px;
}

.imgunminuto {
  display: block;
  margin: 0 auto;
  width: 50%;
  cursor: pointer;
  border-radius: 15px;
}
.contenedor-unMinuto h2,
h3 {
  text-align: center;
  color: aliceblue;
}
