.fondo-portada {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../img/PortadaFondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.titulo-portada {
  width: 300px;
  position: absolute;
  color: white;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(180deg, #88f799 0%, rgba(44, 188, 19, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 3.6rem;
}
.ingreso-portada {
  width: 200px;
  background-color: transparent;
  position: absolute;
  top: 85%;
  right: 0;
  bottom: 10;
  left: 0;
  margin: auto;
  color: #171b18ec;
  font-size: 2.5rem;
  font-weight: bold;
}
