.contenedor-footer {
  width: 100%;
  height: 70px;
  background: rgba(47, 39, 39, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contenedor-footer img {
  width: 60px;
  height: 50px;
  border-radius: 35px;
}
.contenedor-footer button {
  width: 60px;
  height: 50px;
  border-radius: 35%;
}
