/* Estilos CSS para MenuHamburguesa */
.menu-hamburguesa {
  position: relative;
  width: min-content;
}

.menu-hamburguesa button {
  display: inline-block;
  background: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  color: rgb(200, 196, 196);
  font-size: 1rem;
}

.menu-hamburguesa .menu-lista {
  position: absolute;
  bottom: 100%;
  left: -50px;
  width: fit-content;
  /* background-color: rgba(0, 0, 0, 0.766); */
  padding: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  right: 0px;
  white-space: nowrap;
  background-color: rgb(73, 72, 72);
}

.menu-hamburguesa .menu-lista li {
  margin-top: 5px;
}
.menu-lista li {
  max-width: auto;
  min-width: auto;
  font-size: 1.5rem;
  padding: 5px;
  background-color: rgb(73, 72, 72);
}

.menu-hamburguesa .menu-lista li a {
  color: #e1dfdf;
  text-decoration: none;
  background-color: rgb(73, 72, 72);
}
