.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
}

.is-open {
  display: flex;
}
/*si el contenido es + a 600px overflow-y para scroll*/
.modal-container {
  position: relative;
  padding: 1rem;
  min-width: 320px;
  max-width: 480px;
  min-height: 400px;
  max-width: 600px;
  overflow-y: auto;
  background-color: #ffffff69;
  background-image: url("../img/fondoestado1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.modal-closed {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-weight: bold;
}
.img-modales {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.contenedor-modales {
  text-align: center;
}

.modal-container p {
  color: rgb(26, 24, 20);
  font-weight: bold;
  font-size: 1rem;
  background-color: rgba(240, 248, 255, 0.257);
  padding: 5px;
  margin: 15px;
  letter-spacing: 1px;
}

.modal-container h3 {
  color: rgb(24, 24, 24);
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
